 {% load static %}

<div class="bg-dark">
    <div class="container ">
        <!--<div>-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: relative;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase" style="font-weight: 500;font-size:1rem" href="/">Optimus</a>
                    <!--<a class="nav-link" href="/"><img src="/static/img/logo_optimus.png"></a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="window.history.back()"> ⟵ Back <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Supervisor
                    </a>

                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="
{% url 'timeliness' %}">Timeliness</a>
                        <a class="dropdown-item" href="
{% url 'effectiveness' %}">Effectiveness</a>
                        <a class="dropdown-item" href="
{% url 'repairment' %}">Repairment</a>
                        <a class="dropdown-item" href="
{% url 'procurement' %}">Procurement</a>
                    </div>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="text-white" style="position:absolute;right:0px;">
                Hello, <strong>{{ user.username }}!</strong>
                <a href="/logout/">  <span align="right" class="fa fa-power-off powerbutton"></span></a>
            </div>
            {% endif %}
        </nav>
    </div>
</div>
